
:root {
  --Fundo: #F4FAFE;
  --TextoP: #002051;
  --TextoS: #475569;
  --Borda: #cbd5e1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--Fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.Bvoltar {
  display: inline-block;
  color: var(--TextoP);
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 14px;
}


.LoginBox {
  background: white;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;
}


.logo {
  text-align: center;
  margin-bottom: 25px;
}

.logo img {
  width: 200px;
  margin-bottom: 5px;
}

.logo h1 {
  
  color: var(--TextoP);
  line-height: 1.3;
}

.logo {
  font-family: 'Day One', sans-serif;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 1.6px;
}

.logo p {
  color: var(--TextoS);
  font-size: 14px;
  margin-top: 5px;
}

form label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: var(--TextoP);
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--Borda);
  border-radius: 6px;
  margin-bottom: 15px;
  outline: none;
}

.Blogin {
  width: 100%;
  background-color: var(--TextoP);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.Blogin:hover {
  background-color: var(--TextoP);
}


.links {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 14px;
}

.links a {
  color: var(--TextoP);
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}
